<div class="home-container">
    <h1>Memory Games</h1>
    <div class="game-options">
        <div class="games">
            <div class="game-card" (click)="navigateTo('/memory')">
                <img src="/memory-card.png" alt="Memory Card Game">
            </div>
            <p class="card-text">Memory Card</p>
        </div>
        <div class="games">
            <div class="game-card" (click)="navigateTo('/simon')">
                <img src="/simon-says.png" alt="Simon Says Game">
            </div>
            <p class="card-text">Simon Says</p>
        </div>
        <div class="games">
            <div class="game-card" (click)="navigateTo('/word-memory')">
                <img src="/word-memory.png" alt="Word Memory Game">
            </div>
            <p class="card-text">Word Memory</p>
        </div>
        <div class="games">
            <div class="game-card" (click)="navigateTo('/typing-test')">
                <img src="/typing-test.png" alt="Typing Test Game">
            </div>
            <p class="card-text">Typing Test</p>
        </div>
        <div class="games">
            <div class="game-card" (click)="navigateTo('/memory-maze')">
                <img src="/memory-maze.png" alt="Memory Maze Game">
            </div>
            <p class="card-text">Memory Maze</p>
        </div>
        <div class="games">
            <div class="game-card" (click)="navigateTo('/sudoku')">
                <img src="/sudoku.png" alt="Sudoku Game">
            </div>
            <p class="card-text">Sudoku</p>
        </div>
    </div>
</div>